* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: "Poppins", Arial, sans-serif;
  background: #393939;
  color: white;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ff8000;
  border-radius: 10px;
}